<%- include('includes/header.ejs'); %>

<section class="banner">  
  <div class="banner-heading">    
    <div class="quote">
      <h4><%= data.intro %></h4>
      <div class="credit">Swami Vivekanand</div>
    </div>
  </div>
</section>  
<section class="content">        
  <h1 class="title">Our Classes</h1>
  <section class="classes">       
    <% data.classes.forEach(function(item) { %>
    <div class="class <%= item.className %>">
      <img class="class-icon" src="<%= item.icon %>"></h3>    
      <h3 class="class-name"><%= item.subject %></h3>    
      <div class="years"><%= item.years %> </div>
      <div class="day-time">
        <span class="day"><%= item.day %>, </span>
        <span class="time"><%= item.time %></span>
      </div>
      <div class="venue"><%- item.venue %></div>      
    </div>
    <% }); %>  
  </section>   
</section>

<%- include('includes/footer.ejs'); %>